.grid-container{
    display: grid;
    background-color: white;
    width: 900px;
    height: 600px;
   justify-content: center;

   
}

 .grid1{
    width: 375px;
    height: 450px;
    background-color: hsl(31, 77%, 52%);
    color: white;
    border-top-left-radius: 1.5%;
    border-bottom-left-radius: 1.5%;
   
    
}

.grid1 button{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-weight: 700;
    }


/*grid2*/
.grid2{
    width: 375px;
    height: 450px;
    background-color: hsl(184, 100%, 22%);
    color: white;
    
    
   }

.grid2 button{
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-weight: 700;
}

   /*grid3*/
 .grid3{
    width: 375px;
    height: 450px;
    background-color: hsl(179, 100%, 13%);
    color: white;
    border-top-right-radius: 1.5%;
    border-bottom-right-radius: 1.5%;
    
    
    
}

.grid3 button{
    color:hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    border: none;
    font-size: 15px;
    width: 175px;
    height: 40px;
    font-weight: 700;
}

#heading{
    padding-top: 10%;
    color: hsl(0, 0%, 95%);
    font-family: '[Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)';
    font-weight: 700;

}

#first{
    padding-top: 5%;
    color:hsla(0, 0%, 100%, 0.75);
    font-family: '[Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)';
    font-weight: 400;
}


.content{
    padding-left: 20%;
    padding-top: 10%;
}

 #button:hover{
    color: white;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%) ;
}


img{
   
    padding-top: 7%;
}

.bt{
    padding-top: 30%;
}

body{
    Font-size: 15px;

}

* {
    box-sizing: border-box;
  }